h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
}

h1 {
    font-size: 2em;
    margin-block-start: 0.67em;
}

h2 {
    font-size: 1.5em;
    margin-block-end: 0.83em;
}

h3 {
    font-size: 1.17em;
    margin-block-end: 1em;
}

h4 {
    font-size: 1em;
    margin-block-end: 1.33em;
}

h5 {
    font-size: 0.83em;
    margin-block-end: 1.67em;
}

h6 {
    font-size: 0.67em;
    margin-block-end: 2.33em;
}

p {
    margin-block-end: 1em;
    margin-inline-start: 0;
    margin-inline-end: 0;
}

ul, ol {
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0;
    margin-inline-end: 0;
    padding-inline-start: 40px;
}

ul {
    list-style-type: initial;
}

ol {
    list-style-type: decimal;
}

li {

}

.navbar {
    border-bottom: 1px solid hsl(0, 0%, 85%);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12);
}

.navbar-brand .navbar-item {
    font-size: 1.75rem;
    color: hsl(204, 86%, 53%);
}

.jh-navbar-burger {
    color: #4a4a4a;
    cursor: pointer;
    display: block;
    position: relative;
    margin-left: auto;
    padding: .5rem .75rem;
}

@media screen and (min-width: 1088px) {
    .jh-navbar-burger {
        display: none;
    }
}