footer .light-bulma {
    display: initial;
}

footer .dark-bulma {
    display: none;
}

.navbar {
    border-bottom: 1px solid hsl(0, 0%, 85%);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12);
}

.navbar-brand .navbar-item {
    font-size: 1.75rem;
    color: hsl(204, 86%, 53%);
}

.jh-navbar-burger {
    color: #4a4a4a;
    cursor: pointer;
    display: block;
    position: relative;
    margin-left: auto;
    padding: .5rem .75rem;
}

.posts {
    min-height: 900px;
}

.posts .content .title{
    font-size: 2em;
}

@media screen and (min-width: 1088px) {
    .jh-navbar-burger {
        display: none;
    }
}

@media screen and (max-width: 1087px) {
    .navbar-dropdown {
        display: none;
    }

    .navbar-item.has-dropdown.is-active .navbar-dropdown {
        display: block;
    }
}
