---
layout: default
---
<div class="posts">
    {% for post in paginator.posts %}
    <article class="content">
        <div class="title"><a href="{{ post.url }}">{{ post.title }}</a></div>
        <p class="author">
            <span class="date">{{ post.date | date: "%Y-%m-%d %H:%M KST"}}</span>
        </p>
        <div class="content">
            {{ post.excerpt }}
        </div>
    </article>
    {% endfor %}
</div>
<!-- Pagination links -->
<nav aria-label="pagination" class="pagination is-centered" role="navigation">
    {% if paginator.previous_page %}
    <a class="pagination-previous" href="{{ paginator.previous_page_path }}">Previous</a>
    {% else %}
    <a class="pagination-previous" disabled>Previous</a>
    {% endif %}
    {% if paginator.next_page %}
    <a class="pagination-next" href="{{ paginator.next_page_path }}">Next page</a>
    {% else %}
    <a class="pagination-next" disabled>Next page</a>
    {% endif %}
    <ul class="pagination-list">
        {% if paginator.page == 1 %}
        <li><a aria-current="page" aria-label="Goto page 1" class="pagination-link is-current">1</a></li>
        {% else %}
        <li><a aria-label="Goto page 1" class="pagination-link" href="/">1</a></li>
        {% endif %}
        {% for page in (2..paginator.total_pages) %}
        {% if paginator.page == page %}
        <li><a aria-current="page" aria-label="Goto page {{ page }}" class="pagination-link is-current">{{ page }}</a>
        </li>
        {% else %}
        <li><a aria-label="Goto page {{ page }}" class="pagination-link" href="/{{ page }}/">{{ page }}</a></li>
        {% endif %}
        {% endfor %}
    </ul>
</nav>
