---
layout: none
title: test
permalink: /tags
---

{
{% for tag in site.tags %}
"{{tag[0]}}" : [
{% for post in tag[1] %}
{
"title" : "{{ post.title | escape }}",
"date" : "{{ post.date | date: '%Y-%m-%d %H:%M KST' }}",
"content" : "{{ post.content | escape | truncatewords: 80, "..." }}",
"url" : "{{ post.url }}",
"writer" : "{{ post.writer | escape }}",
"tags" : ["{{ post.tags | join: '","' }}"]
}
{% if forloop.last != true %},{% endif %}
{% endfor %}
]{% if forloop.last != true %},{% endif %}
{% endfor %}
}
