<footer class="page-footer teal lighten-1">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">Links</h5>
        <ul class="footer-links">
          <li>
            <a class="waves-effect waves-light btn teal" href="https://github.com/jhbae200/jhbae200.github.io">
              <i class="fa fa-github left" aria-hidden="true"></i> Github
            </a>
          </li>
          <li>
            <a class="waves-effect waves-light btn teal" href="mailto:{{ site.email }}">
              <i class="fa fa-envelope left" aria-hidden="true"></i> Email
            </a>
          </li>
        </ul>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text">Page Links</h5>
        <ul>
          <li><a class="grey-text text-lighten-3" href="{{ site.baseurl }}{% link index.html %}">Home</a></li>
          <li><a class="grey-text text-lighten-3" href="{{ site.baseurl }}{% link about.html %}">About</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">Posts</a></li>
          <li><a class="grey-text text-lighten-3" href="#!">Tags</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
    Copyright © jhbae200. All rights reserved.
    </div>
  </div>
</footer>
