<footer class="footer">
    <div class="content has-text-centered">
        <p>
            <a class="light-bulma" href="https://bulma.io" target="_blank">
                <img alt="Made with Bulma" height="24" src="https://bulma.io/images/made-with-bulma.png" width="128">
            </a>
            <a class="dark-bulma" href="https://bulma.io" target="_blank">
                <img alt="Made with Bulma" height="24" src="https://bulma.io/images/made-with-bulma&#45;&#45;dark.png"
                     width="128">
            </a>
        </p>
        <p>
            © 2018, Jinhwan Bae
        </p>
    </div>
</footer>
