<nav aria-label="main navigation" class="navbar" role="navigation">
    <div class="container">
        <div class="navbar-brand">
            <a class="navbar-item" href="/">
                Jinhwan Blog
            </a>
            <a aria-expanded="false" aria-label="menu" data-target="navMenu" class="jh-navbar-burger"
               role="button">
                <span style="font-size: 24px;"><i class="fas fa-bars"></i></span>
            </a>
        </div>

        <div class="navbar-menu" id="navMenu">
            <div class="navbar-start">
                <a class="navbar-item">
                    Home
                </a>
                <div class="navbar-item has-dropdown is-hoverable">
                    <a class="navbar-link">
                        More
                    </a>

                    <div class="navbar-dropdown">
                        <a class="navbar-item" href="/about">
                            About
                        </a>
                        <hr class="navbar-divider">
                        <a class="navbar-item" href="/contact">
                            Contact
                        </a>
                    </div>
                </div>
            </div>
            <div class="navbar-end">
                <div class="navbar-item">
                    <div class="buttons">
                        <div class="field">
                            <input id="darkMode" type="checkbox" name="darkMode" class="is-info switch" onclick="toggleDark(event)">
                            <label for="darkMode">Dark Mode</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>