<nav class="teal lighten-1">
  <div class="nav-wrapper container">
    <a href="/" class="brand-logo center">{{ site.title }}</a>
    <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
    <ul class="left hide-on-med-and-down">
      <li><a href="{{ site.baseurl }}{% link index.html %}">Home</a></li>
      <li><a href="{{ site.baseurl }}{% link about.md %}">About</a></li>
    </ul>
    <ul class="right hide-on-med-and-down">
      <li><a href="#search"><i class="material-icons">search</i></a></li>
    </ul>
    <ul class="side-nav" id="mobile-demo">
      <li><a href="{{ site.baseurl }}{% link index.html %}">Home</a></li>
      <li><a href="{{ site.baseurl }}{% link about.md %}">About</a></li>
    </ul>
  </div>
</nav>
