---
---
{
"items" : [
{% for post in paginator.posts %}
{
"title": "{{ post.title | escape }}",
"writer": "{{ post.writer | escape }}",
"date": "{{ post.date | date: "%Y-%m-%d %H:%M KST"}}",
"content": "{{ post.content | strip_html | truncatewords: 70 | url_encode }}",
"url": "{{ post.url }}"
}{% if forloop.last != true %},{% endif %}
{% endfor %}
],
"previous_page": "{{ paginator.previous_page }}",
"next_page": "{{ paginator.next_page }}",
"page": {{ paginator.page | default: 1 }},
"total_page": {{paginator.total_pages | default: 1 }}
}