<!DOCTYPE html>
<html lang="ko">
  <head>
    {% include head.html %}
  </head>
  <body>
    {% include navbar.html %}
    <main>
      <section>
        {{ content }}
      </section>
    </main>
    {% include footer.html %}
    <div id="search" class="modal">
      <div class="modal-content">
        <form>
        <div class="input-field">
          <input id="search" type="search" required>
          <label for="search"><i class="material-icons">search</i></label>
          <i class="material-icons">close</i>
        </div>
      </form>
      </div>
    </div>
    {% include script.html %}
  </body>
</html>
