<!DOCTYPE html>
<html class="dark" lang="ko">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <title>{{ site.title }}</title>

    <meta content="{{ page.description }}" name="description">
    <meta content="{{ site.title }}" property="og:title">
    <meta content="website" property="og:type">
    <meta content="{{ page.description }}" property="og:description">
    <meta content="{{ site.url }}{{ site.baseurl }}" property="og:url">

    <link crossorigin="anonymous" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.4/css/bulma.min.css"
          integrity="sha256-8B1OaG0zT7uYA572S2xOxWACq9NXYPQ+U5kHPV1bJN4=" rel="stylesheet" />
    <link href="/css/bulma-switch.min.css" rel="stylesheet" />
    <link href="/css/main.css" rel="stylesheet" />
    <link href="/css/dark.css" rel="stylesheet" />

    <script data-ad-client="ca-pub-8673713248559966" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <script crossorigin="anonymous" defer
            integrity="sha384-g5uSoOSBd7KkhAMlnQILrecXvzst9TdC09/VM+pjDTCM+1il8RHz5fKANTFFb+gQ"
            src="https://use.fontawesome.com/releases/v5.8.1/js/all.js"></script>
    <script src="/js/main.js?t=20180408"></script>
</head>
<body>
{% include header.html %}
<section class="section">
    <div class="container">
        {{ content }}
    </div>
</section>
{% include footer.html %}
</body>
</html>
