---
layout: default
---
<div class="container">
  <div class="row">
    <div class="col s12">
      <div class="main-post">
        <h3 class="title">
          {{ page.title }}
        </h3>
        <p class="post-info">{{page.writer}} | {{ page.date | date: '%Y-%m-%d %H:%M KST' }}</p>
          {{ content }}
        <ul class="post-tags">
          {% for tag in page.tags %}
            <li><a href="{{ site.baseurl }}{% link search.html %}?q={{tag}}"># {{ tag }}{% if forloop.last != true %},{% endif %}</a></li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</div>
