---
layout: default
---
<div class="container">
  <div class="row">
    <div class="col s12">
      <div class="main-post">
        <h3 class="title">
          {{ page.title }}
        </h3>
        <p class="post-info">{{page.writer}}<br>
          Created At {{ page.date | date: '%Y-%m-%d %H:%M KST' }}
          {% if page.update != null %}<br> Last Modify {{ page.update | date: '%Y-%m-%d %H:%M KST'}}{% endif %}
        </p>
          {{ content }}
        <ul class="post-tags">
          {% for tag in page.tags %}
            <li><a href="{{ site.baseurl }}{% link search.html %}?q={{tag}}"># {{ tag }}{% if forloop.last != true %},{% endif %}</a></li>
          {% endfor %}
        </ul>
      </div>
    </div>
		<div class="col s12">
			<div id="disqus_thread"></div>
<script>

/**
*  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
*  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
/*
var disqus_config = function () {
this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
};
*/
(function() { // DON'T EDIT BELOW THIS LINE
var d = document, s = d.createElement('script');
s.src = '//jhbae200.disqus.com/embed.js';
s.setAttribute('data-timestamp', +new Date());
(d.head || d.body).appendChild(s);
})();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
		</div>
  </div>
</div>
